<div [@routerTransition]>
    <h2 class="text-primary"><small>Sistema de Seguridad</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                            <h3>Instituto Tecnológico Superior</h3>          <!--  <h3>{{slider.label}}</h3>  -->  
                            <p>YAVIRAC</p>      <!--  <p>{{slider.text}}</p> -->
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        

        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'dark'" [icon]="'fa-laptop'" [count]="108" [label]="'Desarrollo De Software'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-puzzle-piece'" [count]="112" [label]="'Marketing'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-pencil'" [count]="197" [label]="'Diseño de Modas'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'info'" [icon]="'fa-globe'" [count]="103" [label]="'Guianza Turística'"></app-stat>
        </div>  
    <hr />
   
    <hr />
        
</div>
