<div class="row">
  <div class="col-lg-12">
    <div class="top-banner-div">
      <h1 class="text-left titulo" style="color:blue; font-size: 30px; font-weight: 700;">
        Bienvenido a la Pagina de Seguridad
      </h1>
    </div>
  </div>
</div>
<!--Primero Bloque-->
<div class="row">
  <div class="col-10 offset-1">
    <div class="card">
      <div class="card-title">
        <div class="bg-light rounded">
          <div class="row">
            <div class="col-4 text-center">
  
        
            </div>
            <div class="col-4 text-center">
         
            </div>
            <div class="col-4 text-center">
           

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-sm-12 text-left">
            <img src="assets/img/seguridad.png" width="350px" height="350px">
          </div>
          <div class="col-lg-7 col-sm-12 text-left">
            <h1 class="text-center" style="color: #166bdb;font-size: 48px;">Inicio</h1>
            <p class="text-justify text-muted">
              Bienvenidos Al <b>Sistema de Seguridad </b>desarrollado por Sexto de Desarrollo de Software, el cual podra registrar usuarios y sistemas. Fue cread con el fin de
              brindar a toda la comunidad Educativa del Instituto Tecnologico Superior Yavirac una mayor seguridad al navegar
              por los distintos sitios que ofrece la misma
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--YaviracTec-->
  <div class="row">
    <div class="col-lg-12 mt-1">
      <h1 class="col-12- pull-right" style="color: #0658d4; font-size: 15px; font-weight: 300;">
        <!--<img src="assets/img/logo-yavirac.jpg" alt="" width="100px" height="50px">-->
        <i class="fa fa-fw fa-copyright"></i>Desarrollado Por Renato Chulca, Marcelo Duque y Edison Ucsiña
      </h1>
    </div>
  </div>

